<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaist.iclab">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permissions.READ_DATABASE" />
    <uses-permission android:name="android.permissioms.WRITE_DATABASE" />
    <uses-permission android:name="com.kaist.iclab.multisensing.datamanager.READ_DATABASE" />
    <uses-permission android:name="com.kaist.iclab.multisensing.datamanager.WRITE_DATABASE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:name=".E4SensingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SensorTagListActivity"
            android:label="SensorTagListActivity" />

        <activity
            android:name=".activity.PersistentActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":avoidSmartManager"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <provider
            android:name=".datamanager.DataProvider"
            android:authorities="com.kaist.iclab.multisensing.datamanager"
            android:exported="true"
            android:process=":data" />

        <service
            android:name=".services.E4Service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="true" />

        <!-- sensor tag service -->
        <service
            android:name=".services.SensorTagService"
            android:enabled="true" />
        <service
            android:name=".services.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>